.filter-card{
    min-height: 90%;
    min-width: 90%;
    background-color: white;
    z-index: 99;
}

.apply-button{
    color: #3880ff;
    font-size: larger;
}

.filter-header{
    box-shadow: none;
    margin-bottom: -20px;
}

.filter-modal{
    --width: 100%;
    align-items: end;
}

.filter-card h1{
    margin-top: 30px;
    font-weight: bolder;
}

.filter-list{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
}